<div class="flex">
  <div class="flex main-box">
    <div class="left-main-box flex flex-col items-center justify-between">
      <div class=""><img src="assets/img/revo_logo.png" alt=""></div>
      <div class="sub-logo"><img src="assets/img/TEXT.svg" alt=""></div>
    </div>
    <div class=""><img src="assets/img/Main_bg.png" alt=""></div>
    <div class="xxx main-color flex flex-col items-center justify-around">
      <div class="flex">
        <div class=""><a href=""><img src="assets/icons/shopping-cart-3.svg" alt=""></a></div>
      </div>
      <nav class="flex flex-col">
        <a href="">TRANG CHỦ</a>
        <a href="">COFFEE</a>
        <a href="">PHIN MẠ MÀU</a>
        <a href=""> COMBO PHIN PHÊ</a>
        <a href="">GIFTSET</a>
        <a href="">LIÊN HỆ</a>
      </nav>
    </div>
  </div>
