.lef-box {
  width: 10px;
}

.bg-main {
  height: 1020px;
  width: 100%;
}

.sub-logo {
  position: relative;
  left: 40%;
}

.main-box {
height: 100%;
}

.left-main-box {
}

.xxx {
  width: 500px;
}

